@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<img src="@Url.Content("~/Content/image/muhammedsafabicakci.jpg")" width="400" height="500" />

<p>I am a computer engineering student at Yıldırım Beyazıt University</p>
<p>Simple blog example with MVC 5 Design Pattern.</p>
